/*--------------------------------------------------------------------------------
 * Colors 
 *-------------------------------------------------------------------------------*/

@define-color bg           #282828;
@define-color bg-alpha     rgba(40, 40, 40, 0.5);
@define-color fg           #dfbf8e;
@define-color accent       #e78a4e;

/*--------------------------------------------------------------------------------
 * General 
 *-------------------------------------------------------------------------------*/

* {
  font-family: Maple Mono NF;
  font-size: 15px;
}

window#waybar {
  background-color: @bg;
  color: @fg;
}

/*--------------------------------------------------------------------------------
 * Sections 
 *-------------------------------------------------------------------------------*/

.modules-left,
.modules-center,
.modules-right {
  border-top: 0;
  border-bottom: 0;
}
.modules-left { }

.modules-right { }

/*--------------------------------------------------------------------------------
 * Left Modules 
 *-------------------------------------------------------------------------------*/

#clock {
  margin-top: 10px;
  padding: 0;
  font-weight: bold;
}

#workspaces {
  color: @fg;
  padding: 0;
  border: 0;
}

#workspaces button {
  color: @fg;
  border:0;
  border-radius: 0;
  background: transparent; 
  box-shadow: none;   
  outline: none;     
}

#workspaces button:hover {
  border:0;
  background: transparent;
  color: @fg;
}

#workspaces button.active {
  border:0;
  color: @accent;
}

#workspaces button.active:hover {
  border:0;
  color: #fff;
}


/*--------------------------------------------------------------------------------
 * Right Modules 
 *-------------------------------------------------------------------------------*/

#cpu,
#temperature,
#memory,
#pulseaudio,
#network,
#battery{
    padding: 4px 0;
}

#network {
  margin-bottom: 10px;
}
