theme = nord

# Terminal behavior
term = xterm-256color
copy-on-select = true

# Font
font-family = Maple Mono NF
font-style-bold = Bold
font-style-italic = Italic
font-style-bold-italic = Italic

{{ if or (eq .chezmoi.hostname "MacAcordo53") (eq .chezmoi.hostname "MacBookPro") }}
font-size = 15.0
{{ else }}
font-size = 12
{{ end }}

# Cursor
cursor-style = block
cursor-style-blink = false
shell-integration-features = no-cursor
# cursor-color = cell-foreground

# Window
window-padding-x = 20
window-padding-y = 20
